
<nav class="nav">
  <div class="container">
    <h1 class="logo"><a href="{{ '/' | prepend: site.baseurl | prepend: site.url }}">{{ site.title_left }}<span>{{ site.title_right }}</span></a></h1>
    <ul class="navbar">
      <li><a href="/projects">Projects</a></li>
      <li><a href="https://ore.spongepowered.org/happyzlife">Sponge</a><i class="fas fa-external-link-alt"></i></li>
      <li><a href="https://github.com/happyzleaf/">GitHub</a><i class="fas fa-external-link-alt"></i></li>
    </ul>
  </div>
</nav>
