<nav class="nav">
    <div class="container">
        <div class="logo">
            <img class="avatar" src="{{ site.cover | prepend: site.baseurl | prepend: site.url }}">
            <h1 class="text">{{ site.title_left }}<span>{{ site.title_right }}</span></h1>
        </div>
        <ul class="navbar">
            <li><a href="/projects">Projects</a></li>
            <li><a href="https://ore.spongepowered.org/happyzlife" target="_blank">Sponge <i class="fas fa-external-link-alt"></i></a></li>
            <li><a href="https://github.com/happyzleaf/" target="_blank">GitHub <i class="fas fa-external-link-alt"></i></a>
            </li>
        </ul>
    </div>
</nav>
