body {
    display: flex;
    height: 100vh;

    background: var(--color-background-primary);

    flex-direction: column;
    justify-content: center;
    place-items: center;
}

#background {
    position: fixed;
    z-index: -10;
    width: 100%;
    height: 100%;
}

.copy-alert {
    position: absolute;
    bottom: 0;
    margin: 2rem 0;
    font-size: 1.7rem;
    color: var(--color-primary);
}

.logo {
    position: relative;
}

.avatar {
    left: -19px;
    top: -10px;
    z-index: -1;

    background: url(../media/avatar-background.png);
    width: 225px;
    height: 226px;

    border-radius: 2px;
    display: inline-block;
    margin: 1rem;

    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.square {
    position: absolute;

    left: calc(50% - 49px);
    top: calc(50% - 45px);
    width: 98px;
    height: 90px;
}

.square-fallback {
    background: url(../media/avatar-foreground.png);
}

.me {
    position: absolute;
    width: 100%;
    right: 5px;
    bottom: 5px;

    font-size: 3rem;

    color: var(--color-primary);
    text-align: right;
    margin: 0.8rem;
}

sup {
    font-size: 1rem;
    color: var(--color-tertiary);
    cursor: pointer;
}

/* Desktop */
@media (min-width: 900px) {
    .avatar {
        background: url(../media/avatar-upscaled-background.png);
        top: 0px;
        width: 450px;
        height: 452px;
    }

    .square {
        left: calc(50% - 98px);
        top: calc(50% - 91px);
        width: 196px;
        height: 182px;
    }

    .square-fallback {
        background: url(../media/avatar-upscaled-foreground.png);
    }

    .me {
        font-size: 2.5rem;
    }

    @keyframes hoverContent {
        0% {
            transform: translatey(-10px)
        }

        100% {
            transform: translatey(0px)
        }
    }
}